<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.example.marketkurly_clone.src.product.ProductMapper'>

    <select id="getProductSearchRes" parameterType="String"
            resultType="com.example.marketkurly_clone.src.product.model.GetProductSearchRes">
        select P.product_idx,
               brand_name,
               name,
               subname,
               price,
               discount,
               discount_price,
               is_kurlyonly,
               P.sales_count,
               PI.url,
               P.update_at
        from Product P
                 left join Brand B on P.brand_idx = B.brand_idx
                 left join marketkurly_ver1.ProductImage PI on P.product_idx = PI.product_idx
        where name like concat('%', #{keyword}, '%')
    </select>
    <!-- 상품 상세 페이지 관련 쿼리문-->
    <select id="getProductInfo" parameterType="int"
            resultType="com.example.marketkurly_clone.src.product.model.GetProductDetailRes">
        select P.product_idx,
               B.brand_name,
               P.name,
               P.subname,
               P.price,
               P.discount,
               P.discount_price,
               P.sales_unit,
               P.weight,
               P.source,
               P.type,
               P.packaging_type,
               P.Allergie_info,
               P.distinct_delivery,
               P.notice,
               P.shelf_life,
               PI.url,
               P.maxminum_purchase
        from Product P
                 left join marketkurly_ver1.ProductImage PI on P.product_idx = PI.product_idx
                 left join Brand B on P.brand_idx = B.brand_idx
        where P.product_idx = #{product_idx};
    </select>
    <select id="islikely" parameterType="int"
            resultType="com.example.marketkurly_clone.src.product.model.GetProductOtherRes">
        select exists(select *
                      from Favorite
                      where product_idx = #{product_idx}
                        and user_idx = #{userIdxByJwt}) as user_islike,
               count(*)                                 as review_cnt
        from ProductReview
        where product_idx = #{product_idx};
    </select>
    <select id="reviewCount" parameterType="int" resultType="int">
        select count(*) as cnt
        from ProductReview
        where product_idx = #{product_idx};
    </select>
    <select id="getReviewList" parameterType="int"
            resultType="com.example.marketkurly_clone.src.product.model.GetProductReviewRes">
        select PR.review_idx,
               PR.review_title,
               PR.review_desc,
               PR.update_at,
               U.name as user_name,
               PR.views,
               PR.help_count
        from ProductReview PR
                 inner join User U on PR.user_idx = U.user_idx
        where product_idx = #{product_idx}
    </select>

    <select id="Product_detail_info" parameterType="int"
            resultType="com.example.marketkurly_clone.src.product.model.GetProductDetailListRes">
        select `index`,name, origin_price, discount_price, save_point_yn
        from ProductDetailList
        where product_idx = #{product_idx};
    </select>


    <select id="getProductCategoryRes" parameterType="int"
            resultType="com.example.marketkurly_clone.src.product.model.GetProductSearchRes">
        select distinct P.product_idx,
                        brand_name,
                        name,
                        subname,
                        price,
                        discount,
                        discount_price,
                        is_kurlyonly,
                        P.sales_count,
                        PI.url,
                        P.update_at
        from Product P
                 left join Brand B on P.brand_idx = B.brand_idx
                 left join marketkurly_ver1.ProductImage PI on P.product_idx = PI.product_idx
                 left join (select CPM2.category_idx, C.category_parent, CPM2.product_idx
                            from CategortProductMapping CPM2
                                     inner join Category C on CPM2.category_idx = C.category_idx) CPM
                           on P.product_idx = CPM.product_idx
        where CPM.category_idx = #{Category}
           or CPM.category_parent = #{Category}
    </select>

    <select id="getProductCount" parameterType="int" resultType="int">
        <if test="7 >= Category">
            select
            count(distinct P.product_idx)
            from Product P
            left join (select CPM2.category_idx,C.category_parent,CPM2.product_idx from CategortProductMapping CPM2
            inner join Category C on CPM2.category_idx = C.category_idx) CPM on P.product_idx = CPM.product_idx
            where CPM.category_parent = #{Category}
        </if>

        <if test="Category>7">
            select
            count(distinct P.product_idx)
            from Product P
            left join (select CPM2.category_idx,C.category_parent,CPM2.product_idx from CategortProductMapping CPM2
            inner join Category C on CPM2.category_idx = C.category_idx) CPM on P.product_idx = CPM.product_idx
            where CPM.category_idx = #{Category}
        </if>
    </select>

    <select id="getProductCount1" parameterType="String" resultType="int">

    select count(*) from Product where name like concat('%', #{Keyword}, '%')
    </select>
    <insert id="PostAddCart" parameterType="int">

                insert into Cart values (#{userIdxByJwt},#{product_idx},#{product_detail_idx},#{count})

    </insert>

    <select id="CheckExistProduct" parameterType="int" resultType="int">

        select exists(select * from Cart where product_idx=#{product_idx} and user_idx = #{userIdxByJwt} and product_detail_idx = #{product_detail_idx})
    </select>

    <update id="UpdateAddCart" parameterType="int">
        update Cart set product_amount = product_amount + #{count} where user_idx = #{userIdxByJwt} and product_detail_idx = #{product_detail_idx} and product_idx = #{product_idx}
    </update>

</mapper>