<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.example.marketkurly_clone.src.user.UserMapper'>

    <select id="selectMember" parameterType="int" resultType="com.example.marketkurly_clone.src.user.model.GetUserRes">
        select *
        from User
        where user_idx = #{user_idx};
    </select>

    <select id="getIdx" resultType="int">
        select last_insert_id();
    </select>

    <insert id="joinUser" parameterType="com.example.marketkurly_clone.src.user.model.PostUserReq">
        insert into User(id, pwd, email, phone, birth, sex, name)
        values (#{id}, #{pwd}, #{email}, #{phone}, #{birth}, #{sex}, #{name})
    </insert>

    <insert id="joinUser_address" parameterType="com.example.marketkurly_clone.src.user.model.PostUserReq">
        insert into Address(address_main, address_desc, default_yn, recevied_name, recevied_phone, user_idx, is_like)
        values (#{address_main}, #{address_desc}, 'Y', #{name}, #{phone}, last_insert_id(), 'Y')
    </insert>
    <select id="get_pwd" parameterType="com.example.marketkurly_clone.src.user.model.PostLoginReq"
            resultType="com.example.marketkurly_clone.src.user.model.User">
        select user_idx,
               id,
               pwd,
               name,
               email,
               phone,
               sex,
               birth
        from User
        where id = #{id}
          and delete_yn = 'N';
    </select>
    <select id="checkPhone" parameterType="com.example.marketkurly_clone.src.user.model.PostLoginReq"
            resultType="int">
        select exists(select phone from User where
        <if test="phone !=null">
            phone = #{phone} and delete_yn = 'N'
        </if>
        <if test="id !=null">
            id = #{id} and delete_yn = 'N'
        </if>
        <if test="email !=null">
            email = #{email} and delete_yn = 'N'
        </if>
        )

    </select>


    <select id="getUserCartList" parameterType="int"
            resultType="com.example.marketkurly_clone.src.user.model.GetUserCartRes">
        select C.product_idx,
               J1.url,
               J1.name,
               PDL.name                                                                       as product_desc,
               C.product_amount,
               case when PDL.index is null then J1.price else PDL.origin_price end            as price,
               case when PDL.index is null then J1.discount_price else PDL.discount_price end as discount_price,
               PDL.index                                                                      as idx,
               J1.type
        from Cart C
                 inner join (select P.product_idx,

                                    P.name,
                                    P.price,
                                    P.discount_price,
                                    P.type,
                                    PI.url
                             from Product P
                                      inner join ProductImage PI on P.product_idx = PI.product_idx
        ) J1
                            on C.product_idx = J1.product_idx
                 left join ProductDetailList PDL on C.product_idx = PDL.product_idx and C.product_detail_idx = PDL.`index`
        where C.user_idx = #{user_idx}
        ;


    </select>
    <update id="updatedefult_to_n" parameterType="int">
        update Address
        set default_yn ='N'
        where user_idx = #{user_idx}
          and default_yn = 'Y'
    </update>
    <insert id="CreateUserAddress" parameterType="com.example.marketkurly_clone.src.user.model.PostUserAddressReq">
        insert into Address(address_main, address_desc, default_yn, recevied_name, recevied_phone, user_idx)
        values (#{address_main}, #{address_desc}, #{default_yn}, '', '', #{user_idx})
    </insert>

    <select id="GetUserAddress" parameterType="int"
            resultType="com.example.marketkurly_clone.src.user.model.GetUserAddressRes">
        select address_idx, address_main, address_desc, default_yn, recevied_name, recevied_phone, is_like
        from Address
        where user_idx = #{user_idx}
    </select>
    <update id="updataUserAddress" parameterType="com.example.marketkurly_clone.src.user.model.PatchUserAddressReq">

        update Address
        set default_yn     = #{default_yn},
            address_desc   = #{address_desc},
            recevied_name  = #{recevied_name},
            recevied_phone = #{recevied_phone}
        where address_idx = #{address_idx}
          and user_idx = #{user_idx}

    </update>

    <select id="CheckUserFavrotite" parameterType="int" resultType="int">
        select exists(select * from Favorite where user_idx = #{userIdxByJwt} and product_idx = #{product_idx});
    </select>
    <select id="isDeleteOfFavorite" parameterType="int" resultType="int">
        select case when delete_yn = 'Y' then 1 else 0 end
        from Favorite
        where user_idx = #{userIdxByJwt}
          and product_idx = #{product_idx};
    </select>

    <update id="UpdateCreateUserFavorite" parameterType="int">
        update Favorite
        set delete_yn = 'N'
        where user_idx = #{userIdxByJwt}
          and product_idx = #{product_idx};

    </update>

    <update id="UpdateDeleteUserFavorite" parameterType="int">

        update Favorite
        set delete_yn = 'Y'
        where user_idx = #{userIdxByJwt}
          and product_idx = #{product_idx};
    </update>

    <insert id="CreateUserFavorite" parameterType="int">
        insert into Favorite(user_idx, product_idx)
        values (#{userIdxByJwt}, #{product_idx})

    </insert>

    <select id="getUserLikeAddress" parameterType="int"
            resultType="com.example.marketkurly_clone.src.user.model.GetUserLikeAddressRes">
        select address_main, address_desc, default_yn, recevied_name, recevied_phone, is_like
        from Address
        where user_idx = #{user_idx}
          and is_like = 'Y'
    </select>

    <update id="ChangeLikeToBasicAddress" parameterType="int">
        update Address
        Set is_like='N'
        where user_idx = #{user_idx}
          and is_like = 'Y'

    </update>

    <update id="ChangeBasicToLikeAddress" parameterType="int">
        update Address
        Set is_like='Y'
        where user_idx = #{user_idx}
          and address_idx = #{address_idx}
    </update>

    <delete id="DeleteUserAddress" parameterType="int">
        delete
        from Address
        where user_idx = #{user_idx}
          and address_idx = #{address_idx}
    </delete>

    <update id="EditCartProductCount" parameterType="int">
        <if test="is_type ==1">
            update Cart Set product_amount = product_amount + 1 where user_idx = #{user_idx} and
            product_idx=#{product_idx} and product_detail_idx=#{product_detail_idx}

        </if>
        <if test="is_type ==0">
            update Cart Set product_amount = product_amount - 1 where user_idx = #{user_idx} and
            product_idx=#{product_idx} and product_detail_idx=#{product_detail_idx}
        </if>
    </update>
    <select id="GetUserInfoBeforePayment" parameterType="int"
            resultType="com.example.marketkurly_clone.src.user.model.GetUserInfoBeforeCheckRes">
        select name, phone, email
        from User
        where user_idx = #{user_idx}
    </select>


    <insert id="PostUserPayment" parameterType="com.example.marketkurly_clone.src.user.model.PostUserPaymentReq">
        insert into `Order`(product_price, delivery_fee, product_discount, coupon_discount, use_point, payment_fee, earn_point,
                            pay_method, user_idx, orderer, sender, recevied_name, recipient_phone, deliver_method, address,
                            pickup_location, entrance_method, packaging_method, notify_time, non_release) values (#{product_price}, #{delivery_fee}, #{product_discount}, #{coupon_discount}, #{use_point},
                                                                                                                  #{payment_fee}, #{earn_point}, #{pay_method},#{user_idx},  #{orderer}, #{sender}, #{recevied_name},
                                                                                                                  #{recipient_phone}, #{deliver_method}, #{address}, #{pickup_location}, #{entrance_method},
                                                                                                                  #{packaging_method}, #{notify_time}, #{non_release});

    </insert>

    <insert id="PostDetailOrderProduct" parameterType="com.example.marketkurly_clone.src.user.model.paydetailproduct">
        insert into OrderProductMapping(order_idx, product_idx, idx, price, discount, amount)
        values (#{order_idx}, #{product_idx}, #{idx}, #{price}, #{discount}, #{amount});

    </insert>
    <select id="GetUserFavorite" parameterType="int" resultType="com.example.marketkurly_clone.src.user.model.GetUserFavoriteRes">

        select J1.product_idx, J1.brand_name, J1.name, J1.price, J1.discount, J1.discount_price, maxminum_purchase, PI.url
        from Favorite F
                 inner join (select P.product_idx,
                                    B.brand_name,
                                    P.name,
                                    P.price,
                                    P.discount,
                                    P.discount_price,
                                    P.maxminum_purchase,
                                    P.delete_yn
                             from Product P
                                      left join Brand B on P.brand_idx = B.brand_idx) J1 on F.product_idx = J1.product_idx
                 inner join ProductImage PI on F.product_idx = PI.product_idx
        where F.user_idx = #{user_idx} and F.delete_yn ='N' and J1.delete_yn = 'N';

    </select>

</mapper>