<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN' 'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='com.example.marketkurly_clone.src.user.UserMapper'>

    <select id="selectMember" parameterType="int" resultType="com.example.marketkurly_clone.src.user.model.GetUserRes">
        select *
        from User
        where user_idx = #{user_idx};
    </select>

    <select id="getIdx" resultType="int">
        select last_insert_id();
    </select>

    <insert id="joinUser" parameterType="com.example.marketkurly_clone.src.user.model.PostUserReq">
        insert into User(id, pwd, email, phone, birth, sex, name)
        values (#{id}, #{pwd}, #{email}, #{phone}, #{birth}, #{sex}, #{name})
    </insert>

    <insert id="joinUser_address" parameterType="com.example.marketkurly_clone.src.user.model.PostUserReq">
        insert into Address(address_desc, default_yn, recevied_name, recevied_phone, user_idx)
        values (#{address_desc}, 'Y', '', '', last_insert_id())
    </insert>
    <select id="get_pwd" parameterType="com.example.marketkurly_clone.src.user.model.PostLoginReq" resultType="com.example.marketkurly_clone.src.user.model.User">
        select user_idx ,id, pwd,name,email,phone,sex,birth  from User where id = #{id} and delete_yn = 'N';
    </select>

</mapper>